/* =============
    new  in stock
============= */

.new-in-stock{
    
    .ginger-flower{
        background-color: $azure-blue;
    }

    .gardenia{
        background-color: $azure-blue;
    }

    .ocean-mist{
        background-color: $azure-blue;
    }

    .lemon-drop{
        background-color: $azure-blue;
    }

    .patchouli{
        background-color: $azure-blue;
    }

    .container{
        display:grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: 
        ".content."
        ;
        .content{
            grid-area:content;
        } 
}

}


