/* =============
    top hero
============= */

.top-hero{

    .content{
        display: grid;
        grid-template-columns: 100%;
    

    @include md{
        grid-template-columns: 50% auto;

    }
}
}
