/* =============
    Footer
============= */
footer {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 20px;
    grid-row-gap: 40px; 
}